body
    {
        box-sizing: border-box;
    }
       

    body 
    {
        font-family :'Poppins', sans-serif;
        display: flex;
        width: 100%;
        height: 100%;
        background: url(image/blueflower.jpg);
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

.checkout-panel 
{

    display: flex;
    flex-direction: column;
    width: 61%;
    height: 650px;
    background-color: rgb(255, 255, 255);
    opacity: 0.96;
    transform : translate(3%, 4%);
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgb(94, 89, 89);
}

.panel-body 
{
    padding: 45px 80px 0;
    flex: 1;
}
   
.title 
{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    border-bottom: 6px solid rgb(208, 224, 242);
    font-family :'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform :uppercase;
    color: #000000;
}
   

.payment-method 
{
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}
   
.method 
{
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
   
.card-visa img
{
    display: flex;
    width: -150px;
    height: 140px; 

}

.card-paypal img
{
    display: flex;
    width: -100px;
    height: 100px; 
}

.radio-input-1
{
    margin-top: 20px;
}

.radio-input-2
{
    margin-top: 60px;
}

.input-fields 
{
    display: flex;
    justify-content: space-between;
}
   
.input-fields label 
{
    display: block;
    margin-bottom: 10px;
    color: #282829;
}
   
.small-inputs select
{
    display : inline-block;
    width :50%;
    padding : 12px;
    background-color: #ffffff;
    /*float: left;*/
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid rgb(17, 154, 233);
    border-radius: 4px;
    cursor :pointer;
    transition: all 0.2s ease;
}

.info 
{
    font-size: 12px;
    font-weight: 400;   
    position: relative;
    left: 60px;
    display: block;
    margin-top: 50px;
    opacity: 0.5;
    color: #2e2e2e;
}
   
div[class*='column'] 
{
    width: 700px;
}
   
input[type='text']
{
    font-size: 16px;
    width: 80%;
    height: 50px;
    padding-right: 30px;
    padding-left: 25px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(17, 154, 233);
    border-radius: 4px;
    outline: none;
}
   
  input[type='text']:focus
{
    border-color: rgb(29, 220, 226);
}

.small-inputs 
{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
   
.small-inputs div
{
    width: 182px;
}

.panel-footer 
{
    display: flex;
    width: 70%;
    height: 96px;
    padding: 0 80px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
}

.btn 
{
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
}
   
.back-btn 
{
    color: #ffffff;
    background: #000000;;
}

.btn:hover 
{
    background-color:rgb(253, 247, 214);
    color:black;

}
   
.next-btn 
{
    color: #ffffff;
    background: #000000;
}
   
.btn:focus 
{
    outline: none;
}
   
.btn:hover 
{
    transform: scale(1.1);
}

.right-move 
{
    -ms-flex: 25%; 
    flex: 25%;
    padding: 0 16px;
  }

.right-bar
{
    position: relative;
    left: 70px;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    padding: 9px 20px 15px 20px;
    border: 1px solid rgb(255, 255, 255);
    background-image: linear-gradient( white, #bff5ff);
    border-radius: 4px;
    box-shadow: 5px 10px 9px rgba(0, 0, 0.2);
}

.right-bar h4 
{
    font-family :'Poppins', sans-serif;
}

