@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

*{
    padding :0;
    margin : 0;
    box-sizing : border-box;
}

body
{
    font-family :'Poppins', sans-serif;
    background:url(image/flowerbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

img
{
    width : 100%;
    
    display : block;
}

.main-wrapper
{
    background: url(image/flowerbackground.png);
    min-height :100vh;
    overflow-x:0;
}

.container
{
    max-width :1200px;
    margin:0 auto;
    padding :0 16px;
}

.link a
{
    color: red;
    margin:0 auto;
    padding :16px 0;
}

.main-title
{
    text-align : center;
}

.main-title h1
{
    font-size: 36px;
    padding :16px;
    font-weight :800;
    text-transform: uppercase;
    letter-spacing :2px;
    color:black;
    -webkit-text-stroke: 2px #fff;
}

.display-style-btns
{
    margin :10px 0;
    display :flex;
    align-items: center;
    justify-content: flex-end;
    background-color:rgb(255, 255, 255);
    padding :16px 0;
    border-radius: 5px;
}

.display-style-btns button
{
    border : none;
    font-size: 22px;
    display :inline-block;
    vertical-align : top;
    margin:0 8px;
    background-color:transparent;
    cursor : pointer;
    transition: all 0.3s ease-out;
}

.display-style-btns button:hover
{
    color:rgb(237, 194, 248);
    transform: scale(1.1);
}

.active-btn
{
    color:rgb(237, 194, 248);
    transform: scale(1.1);
}

.link a
{
    position: absolute;
    margin :4px 20px;
    color: black;
    transition: all 0.3s ease-out;
}

.link a :hover
{
    color: rgb(237, 194, 248);
    transform: scale(1.1);
}


.item-list
{
    margin :36px 0 ;
    display: grid;
    grid-template-columns : repeat(1,1fr);
    row-gap:32px;
}

.item
{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgb(94, 89, 89);
    transition : all 0.5s ease-out;
}


.item:hover
{
    box-shadow :0 0 10px 1px  rgb(70, 70, 70);
}

.item-img
{
    position : relative;
    overflow: hidden;
}

.item-img img
{
    width:70%;
    margin: 16px auto;
}

.icon-list 
{
    position: absolute;
    bottom:-100px;
    left: 50%;
    transform : translateX(-50%);
    display : flex;
    align-items: center;
    justify-content:center;
    transition: all 0.3s ease-out;
}

.icon-list button
{
    border: none;
    background-color :black;
    color:#fff;
    margin : 0 6px;
    width:35px;
    height :35px;
    border-radius:50%;
    display :flex;
    align-items: center;
    justify-content: center;
    font-size :15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.icon-list button:hover
{
    background-color :#fff;
    color:black;
    transform: scale(1.1);
}

.item-img:hover .icon-list
{
    bottom:26px;
}

.item-detail
{
    padding: 16px;
    color:rgb(0, 0, 0);
    text-align:center;
}

.item-name
{
    font-weight: 500;
    font-size:18px;
    color:black;
    display: block;
}

.item-price
{
    margin :10px 0;
    font-weight:300;
    display:flex;
    align-items: center;
    justify-content:center;
}

.old-price
{
    text-decoration: line-through;
    opacity: 0.6;    
}

.new-price
{
    font-weight: 600;
    font-size:18px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
}

.item-detail p
{
    font-weight:300;
    opacity:0.9;
    font-size: 15px;
    line-height: 1.7;
    display: none;
}

.item-name:hover
{
    color:rgb(43, 189, 226);
}

.add-cart
{
    margin :16px 0;
    text-transform: uppercase;
    border: none;
    background-color :rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: inherit;
    padding :10px 28px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor :pointer;
    transition: all 0.3s ease-in-out;
}

.add-cart:hover
{
    background-color: rgb(238, 227, 207);
    color: rgb(87, 85, 85);
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.1);
}

.details-active .item-list
{
    grid-template-columns: 100%;
}

.details-active .item
{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.details-active .item-detail
{
    text-align: left;
}

.details-active .item-price
{
    justify-content:flex-start;
}

.details-active .item-detail p
{
    display : block; 
}

.details-active .item-detail .add-cart
{
    display : block;
}



@media screen and (min-width: 678px)
{
    .item-list
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 33px;
    }
}

@media screen and (min-width: 768px)
{
    .item-list
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 576px)
{
    .details-active .item
    {
        grid-template-columns: 100%;
    }
}