*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body
{
    font-family :'Poppins', sans-serif;
    background:url(image/blueflower.jpg);
}

.wrapper
{
    max-width :1000px;
    margin: 0 auto;
    
}

.wrapper h1
{
    font-size: 36px;
    font-weight :800;
    padding :30px 0;
    text-align : center;
    text-transform :uppercase;
    letter-spacing: 2px;
    color:white;
    -webkit-text-stroke: 3px black;
}

.link a
{
    position: absolute;
    margin :-60px 20px;
    color: black;
    transition: all 0.3s ease-out;
}

.link a :hover
{
    color: rgb(237, 194, 248);
    transform: scale(1.1);
}

.Tour
{
    display: flex;
}

.shop
{
    flex:70%;
}

.box
{
    display :flex;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    background: white;
    transition : all 0.6s ease;
    border-radius: 7px;
    box-shadow :black 0 7px 29px 0;
}

.box:hover
{
    transform: scale(1.02);
}

.box img
{
    width:300px;
    height:250px;
    object-fit : cover;
}

.content
{
    padding :20px;
    position : relative;
    width: 190px;
}

.content h2
{
    margin-bottom: 30px;
}

.content h4
{
    margin-bottom: 10px;
}

.content h5
{
    margin-bottom: 50px;
}

.btn-area
{
    position: absolute;
    width: 160px;
    height: 40px;
    line-height: 10px;
    bottom: 30px;
    left: 200px;
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor:pointer;
    border-radius: 4px;
    font-family: inherit;
}

.btn-area:hover
{
    background-color: rgb(238, 227, 207);
    color :black;
}

.unit input 
{
    width :50px;
    padding:8px;
    text-align: center;
}

.btn-area i 
{
    margin-right :5px;
}

.right-bar
{
    flex:25%;
    margin-left: 20px;
    padding:20px;
    height: 400px;
    border-radius: 5px;
    background: white;
    box-shadow :black 0 7px 29px 0;
}

.right-bar hr
{
    margin-bottom: 25px;
}

.right-bar p 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.right-bar a
{
    background-color: rgb(0, 0, 0);
    color : rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

}

.right-bar i 
{
    margin-right: 15px;
}

.right-bar a:hover
{
    background-color: rgb(238, 227, 207);
    transform: scale(1.1);
}

@media screen and (max-width :700px)
{
    .content h2
    {
        margin-bottom: 15px;
    }

    .content h4 
    {
        margin-bottom: 20px;
    }

    .btn2
    {
        display :none;
    }

    .box
    {
        height :150px;
    }

    .box img
    {
        height: 150px;
        width: 200px;
    }

@media screen and (max-width:900px)
{
    .Tour
    {
        flex-direction : column;
    }   

    .right-bar
    {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media  screen and (max-width :1250px) 
{
    .wrapper
    {
        min-width: 95%;
    }
    
}

}



